// Semantic UI breakpoints
$mobile-breakpoint:        768px;
$tablet-breakpoint:        992px;
$small-monitor-breakpoint: 1200px;

// General nav
nav {
    margin-bottom: 40px !important;
}

// Desktop nav
.ui.fixed.main.menu .right.menu > .item:last-of-type {
    border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

// Mobile nav
nav .mobile.only.row {
    .ui.vertical.menu {
        margin-top: 40px;
        display: none;
    }
}

// Flashes
.flashes > .ui.message:last-of-type {
    margin-bottom: 2rem;
}

// Tables
table.selectable tr:hover {
    cursor: pointer !important;
}

  body {
    font-family: Georgia, "Times New Roman", "Times", serif;
  }
  
  .ui.inverted.pointing.menu .active.item:after {
    background-color: white !important;
  }
  
  .ui.sub.header {
    text-transform: none;
  }
  
  #page-header {
    margin-top: 4em;
  }
  #page-header h1 {
    font-size: 60px;
  }
  #page-header span {
    font-size: 20px;
    color: grey;
  }
  
  #article {
    font-size: 18px;
    line-height: 1.3;
  }
  #article h2 {
    font-size: 40px;
  }
  #article span {
    color: grey;
  }
  #article .four.wide.column .ui.secondary.segment {
    border: none;
  }
  #article .four.wide.column .ui.list .item {
    font-size: 14px;
  }
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
  
  .ui.footer.segment {
    margin-bottom: 0;
  }
