{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui stackable grid container">
	<div class="row" id="page-header">
		<div class="eleven wide column">
			<div class="ui basic segment">
				<h1 class="ui sub header">
					Jason Portenoy
				</h1>
				<span>PhD candidate in the <a href="https://ischool.uw.edu/" target="_blank">University of Washington Information School</a>.</span>
				<p>Advised by <a href="http://www.jevinwest.org/" target="_blank">Jevin West</a>.</p>
				<p>network analysis | scholarly data | data science</p>
			</div>
		</div>
		<div class="four wide right floated column">
			<img class="ui small image" src="{{url_for('static', filename='images/jason-datalab-headshot.jpg')}}" alt="Jason Portenoy"/>
		</div>
	</div>

	<div class="row" id="content">
		<div class="eleven wide column">
		{% include "main/projects.html" %}
		</div>

		<div class="four wide right floated column">
			<h4 class="ui header">Contact</h4>
			<ul>
				<li>jporteno[@]uw[.]edu</li>
				<li>Github: <a href="https://github.com/h1-the-swan" target="_blank">h1-the-swan</a></li>
				<li>Twitter: <a href="http://twitter.com/jportenoy" target="_blank">@jportenoy</a></li>
				<li><a href="https://www.linkedin.com/in/jason-portenoy/" target="_blank">LinkedIn</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
