{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
		<h1>Jason Portenoy</h1>
		<img class="ui small right floated image" src="{{url_for('static', filename='images/jason-datalab-headshot.jpg')}}" alt="Jason Portenoy"/>
		<p>PhD candidate in the University of Washington <a href="https://ischool.uw.edu/" target="_blank">Information School</a>.</p>
		<p>Advised by <a href="http://www.jevinwest.org/" target="_blank">Jevin West</a>.</p>
    </div>
{% endblock %}
