<div class="row" id="page-header">
	<div class="eleven wide column">
		<div class="ui basic segment">
			<h1 class="ui header">
				Jason Portenoy
			</h1>
			<p class="ui sub header">PhD candidate in the <a href="https://ischool.uw.edu/" target="_blank">University of Washington Information School</a></p>
			<p id="adviser">Advised by <a href="http://www.jevinwest.org/" target="_blank">Jevin West</a>.</p>
			<p>network analysis | scholarly data | data science</p>
		</div>
	</div>
	<div class="four wide right floated column">
		<img class="headshot ui small image" src="{{url_for('static', filename='images/jason-datalab-headshot.jpg')}}" alt="Jason Portenoy"/>
	</div>
</div>
