<div class="ui relaxed divided items">

<div class="item">
	<div class="ui medium image">
		<a href="http://scholar.eigenfactor.org/" target="_blank">
		<img src="{{url_for('static', filename='images/citationvis_thumb.png')}}" alt="Thumbnail: Visualizing Scholarly Influence"/>
		</a>
	</div>
	<div class="content">
		<a class="header" href="http://scholar.eigenfactor.org/" target="_blank">Visualizing Scholarly Influence</a>
		<div class="description">
			Description
		</div>
	</div>
</div>

<div class="item">
	<div class="ui medium image">
		<a href="http://escience.washington.edu/research-project/predictors-of-permanent-housing-for-homeless-families/" target="_blank">
		<img src="{{url_for('static', filename='images/sankey_thumb.png')}}" alt="Thumbnail: Sankey diagram for predictors of permanent housing for homeless families"/>
		</a>
	</div>
	<div class="content">
		<a class="header" href="http://escience.washington.edu/research-project/predictors-of-permanent-housing-for-homeless-families/" target="_blank">Predictors of Permanent Housing for Homeless Families</a>
		<div class="description">
			Description
		</div>
	</div>
</div>

<div class="item">
	<div class="ui medium image">
		<a href="http://coursector.org/#/viz" target="_blank">
		<img src="{{url_for('static', filename='images/coursector_gpa_thumb.png')}}" alt="Thumbnail: College GPA distribution over time"/>
		</a>
	</div>
	<div class="content">
		<a class="header" href="http://coursector.org/#/viz" target="_blank">coursector.org — Analytics for Higher Education</a>
		<div class="description">
			Description
		</div>
	</div>
</div>

</div>
