<div class="two wide column">
<h3 class="header">Work Experience</h3>
</div>

<div class="fourteen wide right floated column">
	<div class="ui items">
		<div class="item">
			<div class="content">
				<h3 class="header">University of Washington</h3>
				<p class="right floated">September 2013 — Present</p>
				<div class="meta">
					<h5 class="sub header">Teaching Assistant / Research Assistant</h5>
				</div>
				<div class="description">
				  <ul>
						<li>Classes: Design Thinking, Information Systems Analysis and Management, Client Side Web Development, Capstone Project, Calling BS in the Age of Big Data</li>
						<li>Research Assistant for the Pew Charitable Trusts on projects assessing and visualizing scholarly impact</li>
						<li>Research Assistant for JSTOR building tools to visualize and explore their archives of scholarly publications</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="content">
				<h3 class="header">eScience Institute at UW</h3>
				<p class="right floated">June 2015 — August 2015</p>
				<div class="meta">
					<h5 class="sub header">Data Science for Social Good Summer Fellow</h5>
				</div>
				<div class="description">
				  <ul>
						<li>Worked with the Bill and Melinda Gates Foundation on a project identifying factors leading to family homelessness in the greater Seattle area.</li>
						<li>Built an interactive visualization tool to help government organizations better understand their data</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
