<div class="two wide column">
<h3 class="header">Education</h3>
</div>

<div class="fourteen wide right floated column">
	<div class="ui items">
		<div class="item">
			<div class="content">
				<h3 class="header">Information Science PhD Program</h3>
				<p class="right floated">September 2013 — Present</p>
				<div class="meta">
					<h5 class="sub header">University of Washington School of Information</h5>
				</div>
				<div class="description">
				  <ul>
						<li>Advised by Jevin West as part of the DataLab</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="content">
				<h3 class="header">BS in Neuroscience</h3>
				<p class="right floated">September 2004 — May 2008</p>
				<div class="meta">
					<h5 class="sub header">Brown University</h5>
				</div>
				<div class="description">
				  <ul>
						<li>Magna cum Laude, Phi Beta Kappa</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
