{% extends 'layouts/base.html' %}

{% block custom_head_tags %}
	<style type="text/css">

		#page-header #adviser {
			display: none;
		}

		.container.resume .row {
			max-width: 90%;
		}
		
		.resume ul {
			list-style-type: disc;
			list-style-position: outside;
			margin-left: 1.2em;
		}

		.resume .dates {
			clear: both;
			margin-bottom: 0 !important;
		}

		#resume .grid {
			margin: 0;
		}

		@media only screen and (max-device-width: 767px) {
			.resume * {
				clear: both;
				float: left !important;
			}

			
		}

		@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
			#resume .section-label {
				font-size: .9rem;
			}
			
		}

		@media print {
			@page {
				margin: 1.5cm;
			}

			#page-header {
				margin-top: 0;
			}

			#page-header .headshot {
			  display: none;
			}
			

			#page-header .column {
				width: 80% !important;
			}


			#resume .column {
				padding-right: 0 !important;
			}

			#resume .section-label.column {
				width: 15% !important;
				padding-right: 1em!important;
				padding-left: 0 !important;
				border-right: 1px solid #dbdbdb;
				text-align: right;
			}

			#resume .right.column {
			  width: 85% !important;
				padding-left: 1.5em !important;
				margin-left: 0 !important;
			}

			#resume .section-label h3 {
				font-size: 10pt;
			}

			#resume .dates {
				font-size: 9pt;
				color: #969696 !important
			}

			a,
			a:visited {
					text-decoration: none;
			}

			a[href]:after {
					content: "";
			}

			#resume li {
				font-size: 10pt;
			}

			
			
		}


	</style>

{% endblock custom_head_tags %}

{% block content %}
	
<div class="ui centered container" id="resume">
	<div class="ui stackable grid">
		{% include "main/page_header.html" %}
	</div>

	<div class="ui stackable grid">
		<div class="resume divided row" id="resume-education">
			<div class="section-label two wide column">
				<h3 class="section-label header">Education</h3>
			</div>

			<div class="fourteen wide right floated column">
				<div class="ui items">
					{% for item in resume_data['Education'] %}
					<div class="item">
						<div class="content">
							<h3 class="header">{{item.name}}</h3>
							{% for dt in item.dates %}
							<p class="dates right floated">{{dt.start}} — {{dt.end}}</p>
							{% endfor %}
							<div class="meta">
								<h5 class="sub header">{{item.name2}}</h5>
							</div>
							<div class="description">
								<ul>
									{% for li in item.list %}
									<li>{{li}}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
		  	


	<div class="ui stackable grid">
		<div class="resume divided row" id="resume-work">
			<div class="section-label two wide column">
				<h3 class="section-label header">Work Experience</h3>
			</div>

			<div class="fourteen wide right floated column">
				<div class="ui items">
					{% for item in resume_data['Work Experience'] %}
					<div class="item">
						<div class="content">
							<h3 class="header">{{item.name}}</h3>
							{% for dt in item.dates %}
							<p class="dates item right floated">{{dt.start}} — {{dt.end}}</p>
							{% endfor %}
							<div class="meta">
								<h5 class="sub header">{{item.name2}}</h5>
							</div>
							<div class="description">
								<ul>
									{% for li in item.list %}
									<li>{{li}}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>


	<div class="ui stackable grid">
		<div class="resume divided row" id="resume-skills">
			<div class="section-label two wide column">
				<h3 class="section-label header">Skills</h3>
			</div>

			<div class="fourteen wide right floated column">
				<ul class="ui items">
					{% for item in resume_data['Skills'] %}
					<li class="item">{{item}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

</div>
{% endblock content %}
