{% extends 'layouts/base.html' %}

{% block custom_head_tags %}
	<style type="text/css" media="screen">
		.container.resume .row {
			max-width: 90%;
		}
		
		.resume ul {
			list-style-type: disc;
			list-style-position: inside;
		}

		.resume .dates {
			clear: both;
			margin-bottom: 0 !important;
		}
	</style>
{% endblock custom_head_tags %}

{% block content %}
	
<div class="ui stackable centered grid container resume">
	<div class="row" id="page-header">
		<div class="eleven wide column">
			<div class="ui basic segment">
				<h1 class="ui sub header">
					Jason Portenoy
				</h1>
				<span>PhD candidate in the <a href="https://ischool.uw.edu/" target="_blank">University of Washington Information School</a>.</span>
				<p>Advised by <a href="http://www.jevinwest.org/" target="_blank">Jevin West</a>.</p>
				<p>network analysis | scholarly data | data science</p>
			</div>
		</div>
		<div class="four wide right floated column">
			<img class="ui small image" src="{{url_for('static', filename='images/jason-datalab-headshot.jpg')}}" alt="Jason Portenoy"/>
		</div>
	</div>

	<div class="resume divided row" id="resume-education">
		<div class="two wide column">
			<h3 class="header">Education</h3>
		</div>

		<div class="fourteen wide right floated column">
			<div class="ui items">
				{% for item in resume_data['Education'] %}
				<div class="item">
					<div class="content">
						<h3 class="header">{{item.name}}</h3>
						{% for dt in item.dates %}
							<p class="right floated">{{dt.start}} — {{dt.end}}</p>
						{% endfor %}
						<div class="meta">
							<h5 class="sub header">{{item.name2}}</h5>
						</div>
						<div class="description">
							<ul>
							{% for li in item.list %}
								<li>{{li}}</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
		  </div>
		</div>
	</div>
		  	


	<div class="resume divided row" id="resume-work">
		<div class="two wide column">
			<h3 class="header">Work Experience</h3>
		</div>

		<div class="fourteen wide right floated column">
			<div class="ui items">
				{% for item in resume_data['Work Experience'] %}
				<div class="item">
					<div class="content">
						<h3 class="header">{{item.name}}</h3>
						{% for dt in item.dates %}
							<p class="dates item right floated">{{dt.start}} — {{dt.end}}</p>
						{% endfor %}
						<div class="meta">
							<h5 class="sub header">{{item.name2}}</h5>
						</div>
						<div class="description">
							<ul>
							{% for li in item.list %}
								<li>{{li}}</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
		  </div>
		</div>
	</div>


	<div class="resume divided row" id="resume-skills">
		<div class="two wide column">
			<h3 class="header">Skills</h3>
		</div>

		<div class="fourteen wide right floated column">
			<ul class="ui items">
				{% for item in resume_data['Skills'] %}
				<li class="item">{{item}}</li>
				{% endfor %}
		  </ul>
		</div>
	</div>

</div>
{% endblock content %}
