@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000334}}
body {
  font-family: Georgia, "Times New Roman", "Times", serif;
}

@media -sass-debug-info{filename{}line{font-family:\0000338}}
.ui.inverted.pointing.menu .active.item:after {
  background-color: white !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000342}}
.ui.sub.header {
  text-transform: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000346}}
#page-header {
  margin-top: 4em;
}

@media -sass-debug-info{filename{}line{font-family:\0000349}}
#page-header h1 {
  font-size: 60px;
}

@media -sass-debug-info{filename{}line{font-family:\0000352}}
#page-header span {
  font-size: 20px;
  color: grey;
}

@media -sass-debug-info{filename{}line{font-family:\0000357}}
#article {
  font-size: 18px;
  line-height: 1.3;
}

@media -sass-debug-info{filename{}line{font-family:\0000361}}
#article h2 {
  font-size: 40px;
}

@media -sass-debug-info{filename{}line{font-family:\0000364}}
#article span {
  color: grey;
}

@media -sass-debug-info{filename{}line{font-family:\0000367}}
#article .four.wide.column .ui.secondary.segment {
  border: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000370}}
#article .four.wide.column .ui.list .item {
  font-size: 14px;
}

@media -sass-debug-info{filename{}line{font-family:\0000374}}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000380}}
.ui.footer.segment {
  margin-bottom: 0;
}
